@page "/registeredUsers"
@using BlazorLoginForm.Models
@using BlazorLoginForm.Services
@inject IAppService AppService
@using System.Text.Json
@using System.Text.Json.Serialization


<h3>Üyeleri Göster</h3>
<div>
    
</div>



@code {
    public RegisteredModels users=new();
 
}
